      html {
overflow: scroll;
overflow-x: hidden;
}
::-webkit-scrollbar {
width: 0px; }

::-webkit-scrollbar-thumb {

}
/* header{
   
   display: flex;
   flex-direction: column;
   justify-content: center;
} */

/*header*/
.header {
   height: 35px;
    padding: 10px;
    /* background-color: #0075ff; */
    background-color: #000000;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: right;
    margin-left: 90%;
  }
  
  .header .links {
    padding-top: 8px;
    position: relative;
  }
  .header .links:hover .icon span:nth-child(2) {
    width: 50%;
  }
  .header .links .icon {
     width: 30px; 
    display: flex;
     flex-wrap: wrap; 
    justify-content: flex-end;
  }
  .header .links .icon span {
    background-color:gainsboro;
    margin-bottom: 5px;
    height: 2px;
  }
  .header .links .icon span:first-child {
    width: 100%;
  }
  .header .links .icon span:nth-child(2) {
    width: 100%;
    transition: var(0.5s);
  }
  .header .links .icon span:last-child {
    width: 100%;
  }
  .header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
  }
  .header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
  }
  .header .links:hover ul {
    display: block;
  }
  .header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    opacity: 10px;
    transition: var(0.5s);
  }
  .header .links ul li a:hover {
    padding-left: 25px;
  }
  .header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
  }/*fin header*/

 /*style de main*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Praise&display=swap');

*{
   margin: auto;
   

}

.desti{
   padding-top: 500px;
}



.desti td{
   
   padding: 15px;
   font-size: 150%;
   text-align: center;
   width: 150px;
}
.desti td a{
   text-decoration: none;
   color: #fff;
   position: relative;
}
.table  a:hover{
   position: sticky;
   color: orange;
   border-bottom: 2px solid rgb(70, 41, 150);
}



.text-box{
   text-align: center;
   font-family: 'poppins';
   margin-top: 90px;
   padding-left: 200px;
   padding-bottom: 60px;
   color: #ffff;
   position: absolute;
}

.text-box p{
   font-size: 30px;
   font-weight: 300;
}
.text-box h1{
   font-size: 140px;
   line-height: 160 px;
   margin-left: -10px;
   color: transparent;

   -webkit-text-stroke: 1px #fff;
   background: url(pics/back.png);
   -webkit-background-clip: text;
   background-position: 0 40px ;
   animation: back 5s linear infinite;
}
@keyframes back{
   100%{
      background-position: 200px 40px;
   }
}
.backg{
   background-attachment: fixed;

   width: 100%;
   height: 100vh;
   background-image: linear-gradient(rgba(0, 0, 0, 2),transparent),url(pics/backg.png);
   background-size: cover;
   background-position: center;
}

.home{
     padding: 0% 8%;

}
.cntct{
         background-attachment: fixed;

   width: 100%;
   height: 100vh;
   background-image: linear-gradient(rgba(0, 0, 0, 2),transparent),url(pics/back.jpg);
   background-size: cover;
   background-position: center;



    }

.contact{
   display: flex;
   border-radius: 20px;
   width: 350px;
   height: 400px;
   margin-top: 150px;
   padding: 40px;
   background: #ffffff;
   opacity: 90%;
}
.contact h2{
   font-size: 30px;
   color: #333;
   font-weight: 1000;
}
.contact .inputbox{
   position: relative;
   width: 100%;
   margin-top: 10px;

}

.contact .inputbox input,textarea{
   width: 100%;
   padding: 5px 0px;
   outline: none;
   font-size: 16 px;
   margin: 10px 0px;
   border: none;
   resize: none;
   border-bottom: 3px solid #ffc21c;
}
.contact .inputbox span{
   position: absolute;
   left: 0;
   padding: 5px 0px;
   font-size: 16px;
   margin: 10px 0px;
   pointer-events: none;
   transition: 0.5s;
   color: #666;
}
.contact .inputbox input:focus ~span,
.contact .inputbox input:valid ~span,
.contact .inputbox textarea:focus ~span,
.contact .inputbox textarea:valid ~span{
 color: #e91e63;
font-size: 12px;
transform: translateY(-20px);
}
button{
   margin-left: 125px;
   margin-top: 15px;
   width: 105px;
   height: 35px;
   background: none;
  border: 2px solid #ffc21c;
  font: inherit;
  line-height: 1;
}
button:hover,
button:focus {
     box-shadow: 0 0.5em 0.5em -0.4em #ffc21c;
  transform: translateY(-0.25em);
}



#slider {
   
   overflow: hidden;
   height: 500px;
   width: 1000px;
   box-shadow: 1px 2px 10px 5px black;,
}
#slider figure {
   size: 100% 100%;
   position: relative;
   width: 500%;
   margin: 0;
   left: 0;
   animation: 12s slider infinite;
}
#slider figure img {
   opacity:90%;
   width: 20%;
   float: left;
   position: relative;
   
}

@keyframes slider {
   0% {
      left: 0;
   }
   20% {
      left: 0;
   }
   25% {
      left: -100%;
   }
   45% {
      left: -100%;
   }
   50% {
      left: -200%;
   }
   70% {
      left: -200%;
   }
   75% {
      left: -300%;
   }
   95% {
      left: -300%;
   }
   100% {
      left: -400%;
   }
   120%{
      left: -400%;
   }
   125%{
      left: -500%;
   }
}
/* PAGE VOYAGE */
.landing {
   background-image: url(../images/headi.jpeg);
   background-size: cover;
   height: 450px;
   position: relative;
 }
 .landing2 {
   background-image: url(../images/headv.jpg);
   background-size: cover;
   height: 600px;
   width: 100%;
   position: relative;
 }
 .landing .intro-text {
   position: absolute;
  margin-left: 200px;
   top: 30%;
   text-align: center;
   transform: translate(-50%, -50%);
   width: 320px;
   max-width: 100%;
 }
 .landing .intro-text h1 {
   margin: 0;
   font-weight: bold;
   font-size: 50px;
 }
 
 .landing .intro-text p {
   font-size: 19px;
   line-height: 1.8;
 }
 /* land 2 */
 .landing2 .intro-text {
   position: absolute;
  margin-left: 200px;
   top: 30%;
   text-align: center;
   transform: translate(-50%, -50%);
   width: 320px;
   max-width: 100%;
 }
 .landing2 .intro-text h1 {
   margin: 0;
   font-weight: bold;
   font-size: 50px;
 }
 .landing2 .intro-text p {
   font-size: 19px;
   line-height: 1.8;
 }
 
 
 .container span {
   /* text-transform: uppercase; */
   display: block
 }
 
 .text1 {
   color: black;
   font-size: 24px;
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   letter-spacing: 4px;
   margin-bottom: 20px;
   position: relative;
   animation: text 3s 1
   
 }
 
 .text2 {
   font-family: 'Mulish', sans-serif;
   color: #414c58;
   font-size: 18px;
   
 }
 
 @keyframes text {
   
   0% {
       
       color: #000;
       margin-bottom: 30px
   }
   
   30% {
       
       letter-spacing: 20px;
       margin-bottom: -40px
   }
   
   85% {
       
       letter-spacing: 4px;
       margin-bottom: -40px
   }
 }
 
 .special-heading {
   color: #333;
   font-size: 100px;
   text-align: center;
   font-weight: 800;
   letter-spacing: -3px;
   margin: 0;
 }
 .special-heading + p {
   margin: -30px 0 0;
   font-size: 20px;
   text-align: center;
   color: #797979;
 }
 @media (max-width: 767px) {
   .special-heading {
     font-size: 60px;
   }
   .special-heading + p {
     margin-top: -20px;
   }
 }
 
 
 
 /* services */
 .services {
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
 }
 .services .services-content {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   grid-gap: 30px;
   margin-top: 100px;
 }
 .services .services-content .srv {
   display: flex;
   margin-bottom: 40px;
 }
 @media (max-width: 767px) {
   .services .services-content .srv {
     flex-direction: column;
     text-align: center;
   }
 }
 .services .services-content .srv i {
   color: var(--main-color);
   flex-basis: 60px;
 }
 .services .services-content .srv .text {
   flex: 1;
 }
 .services .services-content .srv .text h3 {
   margin: 0 0 20px;
 }
 .services .services-content .srv .text p {
   color: #444;
   font-weight: 300;
   line-height: 1.6;
 }
 .services .services-content .image {
   text-align: center;
   position: relative;
 }
 .services .services-content .image::before {
   content: "";
   background-color: var(--secondary-color);
   width: 100px;
   height: calc(100% + 100px);
   top: -50px;
   position: absolute;
   right: 0;
   z-index: -1;
 }
 .services .services-content .image img {
   width: 260px;
 }
 @media (max-width: 1199px) {
   .image-column {
     display: none;
   }
 }
 /* end services */
 .footer {
   background-color:#333 ;
   color: white;
   padding: 30px 10px;
   text-align: center;
   font-size: 18px;
 }
 .footer span {
   font-weight: bold;
   color: var(--main-color);
 }
 
 /* les articles  */
 .article{
   margin-left: 140px;
   margin-top: 100px;
   margin-bottom: 40px;
   background-color: rgb(217, 204, 204);
   height: 450px;
   width: 80%;
   border-radius: 30px;
   }
   .containera {
     max-width: 400px;
     max-height: 450px;
     margin: 0 auto;
     padding: 50px;
     margin-left: 10px;
     margin-bottom: 5px;
   }
   
   .slider img {
     max-width: 100%;
     display: none;
   }
   img.active {
     display: block;
     animation: fade 0.8s;
   }
   @keyframes fade {
     from {
       opacity: 0;
     }
     to {
       opacity: 1;
     }
   }
   
   .cont-btn {
     width: 100%;
     height: auto;
     border: 1px solid #000;
     box-shadow: 0 10px 10px rgba(0,0,0,0.3);
     display: flex;
     justify-content: center;
   }
   .btn-nav {
     font-size: 50px;
     margin: 0 15px;
     cursor: pointer;
   }
   .textv {
     position: absolute;
     width: 48%;
     transform: translate(-10%,-107%);
     
     margin-left:33% ;
     flex-basis: calc(100% - 500px);
   }
  
   .textv p:first-of-type {
     font-weight: bold;
     line-height: 2;
     margin-bottom: 50px;
   }
   .textv hr {
     width: 50%;
     display: inline-block;
     border-color: rgb(51, 51, 134);
   }
   .textv p:last-of-type {
     line-height: 2;
     color: #777;
   }
   .btn{
     position: relative;
   border: none;
   background-color: rgb(177, 176, 176);
   font-size: 17px;
   color: rgb(16, 16, 17);
   padding: 2px;
   width: 150px;
   max-height: 50px;
   border-radius: 8px;
   transform: translate(500%,15%);
   }
   .btn:hover{
     background-color: #0075ff;
   }
   
 /* fin articles */
 